.banner {
  position: relative;
  max-height: 225px;
  max-width: 1240px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color:black;

  img {
    object-fit: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;

  }
  
  .title {
    position: absolute;
    color: white;
    font-size: 48px;
    padding: 20px;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
   -1px  1px 0 black,
    1px  1px 0 black,
    3px 3px 10px rgba(0, 0, 0, 0.7);
  }
}

.about-banner .banner {
  box-shadow: none;
  max-width: 1240px;
  width: 100%;
  align-self: center;
}

.about-banner .banner img {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .banner .title {
    white-space: pre-line;
    font-size: 40px;
  }
}

@media (max-width: 375px) {

  .banner {
    height: 111px;
    width: 100%;
    border-radius: 10px;

    .title {
      font-size: 24px;
    }
  }

  .home-banner{
    width: 100%;
    box-sizing: border-box;
}

  .about-banner {
    width: 100%;
  }
}