.card {
  max-width: 340px;
  max-height: 340px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(transparent, black);

  img {
    object-fit: cover;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    pointer-events: none;
    z-index: 1;
  }

  h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
    align-self:flex-end;
    height:auto;
    width: 130px;
    margin: 0;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 628px;
  }
}

@media (max-width: 375px) {
  .card {
    width: 335px;
    height: 225px;
  }
}