.collapse-section {
  display: flex;
  gap: 60px;

  .collapse-container {
    flex: 1;
  }
}

.collapse-header {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FF6060;
    height: 54px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 24px;
      font-weight: 700;
      color: white;
      margin-top: 0;
    }

    .icon {
      height: 14px;
      cursor: pointer;
      transition: transform 400ms ease-in-out;

      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-content {
    font-size: 18px;
    font-weight: 400;
    background-color: #f2f2f2;
    color: black;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.2s ease-out, opacity 0.1s ease-out, padding 0.3s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    object-fit: cover;

    &.open {
      opacity: 1;
      max-height: 500px;
      padding: 20px;
      
      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

      }
    }

  }

  @media (max-width: 768px) {

    .collapse-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 0;
        margin-bottom: 0;

        .collapse-container {
          flex: 1;
        }
    }
    .collapse-header span {
      font-size: 20px
    }
  }

  @media (max-width: 375px) {

    .collapse-section {

      .collapse-container {
        max-width: 100%;
        width: 100%;
        height: 30px;
        flex: 1;

        .collapse-header {
          height: 30px;
          padding: 0 15px 0 15px;
          width: 100%;

          span {
            font-size: 13px;
            margin: 0;

          }

          img {
            width: 16px;
            height: 9px;
          }
        }

        .collapse-content {
          font-size: 12px;
        }
      }
    }
  }