* {
  font-family: "Montserrat";
}

span, p {
  color: #FF6060
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font-size: 260px;
    font-weight: 700;
    margin-top: 80px;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
  }

  a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  main {
    span {
      font-size: 132px;
    }

    p {
      font-size: 28px;
      padding: 0 20px;
    }
  }
}

@media (max-width: 375px) {
  main {
    box-sizing: border-box;
    width: 100%;

    span {
      font-size: 96px;
    }

    p {
      font-size: 18px;
      text-align: center;
      width: 260px;
      line-height: 143%;
    }

    a {
      font-size: 14px;
    }
  }
}