footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 210px;
  max-width: 1440px;

  .logo-footer {
    height: 40px;
    color: white;
    margin-bottom: 20px;
    margin-top: 60px
  }

  p {
    color: white;
    font-size: 24px;
  }
}


@media (max-width: 375px) {
  footer {
    width: 100%;

    p {
      font-size: 12px;
      width: 100px;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }


}