@use "./Nav.scss";

header {
  padding: 45px 20px 45px 20px;
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;

  nav {
    width: 100%;
    justify-content: flex-end;
  }

}

@media (max-width: 500px) {
    header img  {
      height: 46px;
      max-width: 145px;
      width: auto;
    }
}

@media (max-width: 375px) {

  header {
    box-sizing: border-box;
    gap: 20px;
    width: 100%;

    img {
      height: 46px;
      max-width: 145px;
      width: auto;
    }

    nav {
      align-items: center;
      gap: 26px;
      justify-content: flex-end;

      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}