.main-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;


    .gallery {
        box-sizing: border-box;
        max-width: 1240px;
        background-color: #F6F6F6;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        padding: 50px;
        justify-content: center;

        a {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
.main-home {
    padding-left: 20px;
    padding-right: 20px;

    .gallery {
        width: 100%;
        a {
        width: 100%;
    }
}

}
}

@media (max-width: 375px) {
    header {
        padding: 20px 20px 0 20px;
    }

    .main-home {
        padding: 20px;

        .gallery {
            background-color: white;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 0;
            gap: 20px;

            a {
                margin: 0;

                .card {
                    width: 100%;
                }
            }
        }
    }
}