.host-container {
  max-height: 64px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  .host-name {
    font-size: 18px;
    color: #FF6060;
    margin: 0;
    text-align: right;
  }

  .host-picture {
    width: 64px;
    height: 64px;
    border-radius: 100px;
  }
}

@media (max-width: 375px) {

  .host-container {
    justify-content: flex-end;
    width: 100%;
    gap: 0;
    margin: 0;

    .host-name {
      font-size: 12px;
      width: auto;
      padding-right: 10px;
    }
  
    .host-picture {
      height: 32px;
      width: 32px; 
    }
  }


}