.slideshow {
  width: 100%;
  max-width: 1240px;
  max-height: 415px;
  height: 100%;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  img {
 object-fit: cover;
 width: 100%;
 height: 100%;
 transition: transform 0.2s ease-in-out;
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
  }

  .previous, .next {
    position: absolute;
    background-color:transparent;
    height: 80px;
    border: none;
    cursor: pointer;
  }
  .previous {
    left: 10px;
  }

  .next {
    right: 10px;
  }

}

@media (max-width: 768px) {
  .slideshow {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .main-lodging {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px 30px 20px;
  }
 
  .slideshow {
    height: 255px;
    width: 100%;

    button img {
      height: 20px;
      width: 15px;
    }
  }
}